<div class="row justify-content-center authRow">
  <div class="col-9 col-md-5 col-lg-4">
    <form class="form-signin" action="#">
      <h3 class="form-signin-heading text-dark">Аутентификация</h3>
      <label for="inputEmail" class="sr-only">Введите Email</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Введите Email" required autofocus>
      <button class="btn btn-lg btn-info btn-block" type="submit" id="loginButton">Войти</button>
    </form>
  </div>
</div>